nav.nav 
    ul.nav__list 
        li.nav__btn 
            a.nav__link(href="/friend")
                i.fas.fa-user.-fa-2x
            a.nav__link(href="/chats")
                i.fas.fa-comment.fa-2x 
        li.nav__btn 
            a.nav__link(href="/find")
                i.fas.fa-search.fa-2x 
        li.nav__btn 
            a.nav__link(href="/more")
                i.fas.fa-ellipsis-h.fa-2x 
