header
    div.status-bar 
        div.status-bar__column 
            span No Service 
            i.fas.fa-wifi 
        div.status-bar__column
            span 18:43
        div.status-bar__column 
            span 110%
            i.fas.fa-battery-full.fa-lg 
            i.fas.fa-bolt 
