header
    div.status-bar 
        div.status-bar__column 
            i.fas.fa-wifi 
        div.status-bar__column
            span #{time}
        div.status-bar__column 
            i.fas.fa-battery-full.fa-lg 
            i.fas.fa-bolt 
