doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width,initial-scale=1.0")
        title talk 
        link(rel="stylesheet", href="/static/css/styles.css")
        script(src="http://code.jquery.com/jquery-1.7.1.js")
        script(src="/socket.io/socket.io.js")
        script(src="/static/js/chatting.js")
    body.background
            form(method="POST").form-group
                div#content
                input(placeholder="UserName",name="User Name", type="text", id="name", class="form-control" value=user_name , required)
                div#form-group
                    input(placeholder="",name="Message", type="text", id="message", class="form-control" required)
                    input(type="submit", value="전송", id="button")