#friends-display-link {
    text-align: center;
    display: block;
    background-color: #fafafa;
    padding: 15px 0px;
    font-size: 18px;
    margin-bottom: 15px;
    margin-top: -15px;
  }
  #friend-background {
    background-color: #fff5e1
  }
  #friends-display-link i {
    color: rgba(0, 0, 0, 0.3);
  
  }
  
  .friends-screen {
    padding: 0px var(--horizontal-space);
  }
  
  .friends-screen__channel {
    background-color: white;
    border-radius: 40px 40px 0 0;
    position: relative;
    width: 100%;
    height: 120vh;
    max-width: 768px;
    margin-top: 25px;
    padding-top: 15px;
    font-family: 'IBM Plex Sans KR', sans-serif;
  }
  
  .friends-screen__channel-header {
    margin-bottom: 30px;
    margin-top:15px;
    margin-left: 15px;
    display: flex;
    justify-content: space-between;
    color: rgba(0, 0, 0, 0.5);
  }
  
  @keyframes hideSplashScreen {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
      visibility: hidden;
    }
  }
  
  #splash-screen {
    background-color: var(--yellow);
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 132px;
    animation: hideSplashScreen 0.3s ease-in-out forwards;
    animation-delay: 0.3s;
  }
  
  .user-component__status {
    color: gray;
    font-size: 15px;
    margin-left: 10px;
    opacity: 0.6;
  }

  .friend_info_link:hover { 
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.13);
  }