extends base.pug
block body
    body#friend-background
    block content
        div.screen-header 
            h1.screen-header__title Chats
        
        main.friends-screen 
            div.friends-screen__channel 
                each val, index in chat
                    div.friend_info_link
                        a(href="/chat"+"/"+chat[index]._id+"/room").friend_info_link
                            div.hidden 
                                #{messagelength = chat[index].message.length-1}
                            div.user-component-chat
                                div.user-component__column 
                                -for(let i=0; i<2; i++)
                                    if(loggedInUser._id!=chat[index].user[i]._id)
                                        img(src=chat[index].user[i].avatarUrl ).user-component__avatar.user-component__avatar--sm 
                                        div.user-component__text #{chat[index].user[i].name}
                                        span.user-component__status #{chat[index].message[messagelength]}
                                div.user-component__column
        include partials/footer.pug
