mixin userfriend(friend,index)
            div.user-component
                div.user-component__column 
                    if (!friend)
        
                    if (friend) 
                        if (!friend[index].avatarUrl)
                            img(src="https://item.kakaocdn.net/do/1401e813472967e3b572fee1ee192eb89f17e489affba0627eb1eb39695f93dd").user-component__avatar.user-component__avatar--sm 
                        else
                            img(src="/"+friend[index].avatarUrl).user-component__avatar.user-component__avatar--sm 
                        div.user-component__text #{friend[index].name} #{friend}
                        span.user-component__status #{friend[index].userstatus}
                        h4.user-component__title.user-component__title--not-bold 
                div.user-component__column 